.~lock.**
/target/
!.mvn/wrapper/maven-wrapper.jar
*.log
dependency-reduced-pom.xml
*temp/*
*.tsv
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*~.lock*
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.~lock.**
.attach_pid**

/home/hitesh/codebase/hackathons/codeshadow/src/main/java/com/hitesh/test/vhi/Data/py.java